:root{
    --maincolor: rgb(0, 57, 66);
    --firecolor: rgb(205, 92, 0);
    --tancolor: rgb(216, 194, 137);
}

*{
    font-family:'calibri';
    margin: 0;

}



body{
    background-color: var(--tancolor);
}

header{
    
    top: 0;
    background-color: var(--maincolor);
    min-height: 15vh;

}

#logo{
    max-height: 20vw;
    margin-top: 5px;
}

nav{
    margin-left: 2vw;
    display: flex;
}


h1{
    color: var(--firecolor);
    font-size: 5rem;
    font-family: Amasis MT Pro;
   
}

#tagline{
    color: var(--firecolor);
    font-family: Amasis MT Light;
    position:absolute;
    margin-left: 20vw;
    font-size: 2rem;
}


#search-div,
#results-div{
    margin: auto;
    background-color: white;
    width: 85%;
    border-radius: 15px;
    border: 4px solid var(--maincolor);
    margin-top: 5vh;

}

#results-div{
    min-height: 20vh;
}

#wrapper{
margin-left: 10vw;
margin-top: 5vh;

}

button{
    width: fit-content;
    
}

footer{
    background-color: var(--maincolor);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 1.5rem; 
    text-align: center;
    
}