:root{
    --maincolor: rgb(0, 57, 66);
    --firecolor: rgb(205, 92, 0);
    --tancolor: rgb(216, 194, 137);
}

*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}



body{
    background-color: var(--tancolor);
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 0; 
    background-color: var(--maincolor);
    min-height: 15vh; 

}


nav ul{
    display: flex;
    justify-content: space-around;
}
.navigation{
    color: var(--firecolor);
    list-style: none;
    font-size: 2rem;
}

.navigation:hover{
    color: white;
}

.hide{
    display: none;;
}

#logo{
    max-height: 14vh;
    margin-top: 5px; 
    float: left;
}
nav{
    margin-left: 2vw;
    display: flex;
} 
.icons-h{
    max-width: 4vw;
    margin: 1vw 1vh;
}

.icons-h:hover{
    transform:scale(1.5);
}

h1{
    color: var(--firecolor);
    font-size: 5rem;
    font-family: Amasis MT Pro;
   
}

#tagline{
    color: var(--tancolor);
    font-family: Amasis MT Light;
    position: absolute;
    margin-left: 20vw;
    font-size: 2rem;
}


#search-div,
#results-div{
    margin: auto;
    background-color: white;
    width: 85%;
    border-radius: 15px;
    border: 4px solid var(--maincolor);
    margin-top: 5vh;

}

#results-div{
    min-height: 20vh;
    padding: 10px;
}
.welcome{
    text-align: center;
}
.welcome h2{
    margin-top: 5vh;
}
.welcome p{
    margin-left: 10px;
    margin-right: 10px;
}

.map{
    text-align: center;
}

#wrapper{
margin-left: 10vw;
margin-top: 5vh;
margin-right: 3vw;

}

button{
    width: fit-content;
    
}

footer{
    background-color: var(--maincolor);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5rem; 
    text-align: center;
    
}

#container{
display: flex;
align-items: center;
justify-content: center;
}

.icons{
    max-width: 7vw;
    margin: 1vw 1vh;
}

.icons:hover{
    transform:scale(1.5);
}

.redText {
    color: red;
}

.greenText {
    color: green;
}

.orangeText {
    color: orange;
}

@media(orientation:landscape){
    .icons{
        display: none;
    }
}


@media(orientation:portrait){
    .icons-h{
        display: none;
    }
}